.textBar{
	border-radius: 8px;
	padding: 8px
}
body{
	display: flex;
	flex-direction: column;
	
	height: 100vh;
	margin: 0;
	
	transition: background-color 0.3s ease;
}



.middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	margin-top: 10%;
}

.links{
	padding-left: 4%;
	padding-right: 3%;
	text-decoration: none;
}

.links:hover{
	text-decoration:underline;
}

input {
	padding: 5px 10px; 
	margin: 10px;
}

.topRight{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin-top: 10px;
	
	
}

.subheader{
	font-size: large;
	font-weight: bolder;
	display: flex;
}
