.textBar{
	border-radius: 8px;
}
body{
	display: flex;
}
.middle{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

input {
	padding: 5px 10px; /* Adjust the padding as needed */
	margin-right: 10px; /* Add some space between input elements */
}

.topRight{
	display: flex;
	align-items: center;
	justify-content: center;

}
