.textBar{
	border-radius: 8px;
}
body{
	display: flex;
}
.middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
	padding: 10px;
}

.topRight{
	display: flex;
	align-items: flex-start;
	justify-content: end;
}